.inner__container {
  &__onBoarding {
    @include flex-center(column, 20px);
    width: 200px;

    &__title {
      font-size: 28px;
      font-weight: 700;

      color: #454545;
    }
    &__steps {
      @include flex-center(column, 8px);
      font-size: 18px;
      color: #454545;
    }
  }
}
